<%= render "actions/force_dispatch/base" do |form| %>
    <%= render partial: "actions/force_dispatch/visibility", locals: {form: form} %>

    <div>
        <%= form.label :force_label, "URL of the sound to be played" %>
        <%= form.text_field :force_url, class: "form-control" %>
    </div>
<% end %>