<%= render "actions/force_dispatch/base" do |form| %>
    <%= render partial: "actions/force_dispatch/visibility", locals: {form: form} %>

    <div>
        <%= form.label :force_html, "The HTML string that gets rendered inside the body" %>
        <%= form.text_area :force_html, class: "form-control" %>
    </div>
<% end %>