<div>
    <%= form.check_box :force_visible, class: "form-check-input", checked: true %>
    <%= form.label :force_visible, "VISIBLE: Tab needs to be visible", class: "ms-1" %>
</div>
<div>
    <%= form.check_box :force_focused, class: "form-check-input", checked: true %>
    <%= form.label :force_focused, "FOCUSED: Tab needs to be focused", class: "ms-1" %>
</div>
<br>