<div class="container">
    <div class="text-center my-3">
        <h1 data-controller="tippy" data-tippy-content="<%= @action.description %>"><%= @action.name %></h1>
        <%= @action.documentation.gsub("\n", "<br>").html_safe %>
    </div>

    <div id="json-editor" data-controller="json">
        <textarea id="editing" data-json-target="input" data-action="json#update scroll->json#sync_scroll keydown.enter->json#new_line" spellcheck="false"></textarea>

        <pre id="highlighting" data-json-target="scroll" aria-hidden="true"><code class="language-json" id="highlighting-content" data-json-target="highlight"><%= @formatted_json %></code></pre>

    </div>

</div>