<div id="salbot-page">
    <div class="container py-5">
        <h1>Terms of Service</h1>
        <hr>

        <br>
        <div>These terms of service were last updated on August 31, 2023.</div>
        <br>
        <br>

        <h3>Agreement</h3>
        <div>
            By accessing this Website, accessible from salbot.ch, and receiving Whatsapp notifications from 079 402 02 52, you are agreeing to be bound by these Website Terms of Service and agree that you are responsible for the agreement in accordance with any applicable local laws. <strong>IF YOU DO NOT AGREE TO ALL THE TERMS AND CONDITIONS OF THIS AGREEMENT, YOU ARE NOT PERMITTED TO ACCESS OR USE OUR SERVICES.</strong>
        </div>
        <br>

        <h3>Payment</h3>
        <div>
            Salbot operates on a per notification payment plan. The price per notification may vary but will never exceed 0.25 CHF. All notification receivers are liable to pay the accumulated amount to Lukas Köllner, when asked to do so.
        </div>
        <br>

        <h3>Limitations</h3>
        <div>
            You may not under any circumstance repost a notification from Salbot to any website or service that spreads or distributes user generated content. Rewording said notification doesn't exempt you from being punished for spreading informations from Salbot.
        </div>
        <br>
        <div>
            Salbot reserves the right to remove or disable any account on this site at any time for any reason, without prior notice to you, if we believe that you have violated this agreement.
        </div>
        <br>

        <h3>Changes</h3>
        <div>
            Salbot may revise these Terms of Service for its Website and Bot at any time without prior notice. By using this Service, you are agreeing to be bound by the current version of these Terms of Service.
        </div>
        <br>

        <h3>Disclaimer</h3>
        <div>
            EXCLUDING THE EXPLICITLY STATED WARRANTIES WITHIN THESE TERMS, WE ONLY OFFER OUR SERVICES ON AN 'AS-IS' BASIS. YOUR ACCESS TO AND USE OF THE SERVICES OR ANY CONTENT IS AT YOUR OWN RISK. YOU UNDERSTAND AND AGREE THAT THE SERVICES AND CONTENT ARE PROVIDED TO YOU ON AN 'AS IS,' 'WITH ALL FAULTS,' AND 'AS AVAILABLE' BASIS. WITHOUT LIMITING THE FOREGOING, TO THE FULL EXTENT PERMITTED BY LAW, SALBOT DISCLAIMS ALL WARRANTIES, EXPRESS OR IMPLIED, INCLUDING WITHOUT LIMITATION WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-INFRINGEMENT. TO THE EXTENT SUCH DISCLAIMER CONFLICTS WITH APPLICABLE LAW, THE SCOPE AND DURATION OF ANY APPLICABLE WARRANTY WILL BE THE MINIMUM PERMITTED UNDER SUCH LAW. SALBOT MAKES NO REPRESENTATIONS, WARRANTIES, OR GUARANTEES AS TO THE RELIABILITY, TIMELINESS, QUALITY, SUITABILITY, AVAILABILITY, ACCURACY, OR COMPLETENESS OF ANY KIND WITH RESPECT TO THE SERVICES, INCLUDING ANY REPRESENTATION OR WARRANTY THAT THE USE OF THE SERVICES WILL (A) BE TIMELY, UNINTERRUPTED, OR ERROR-FREE, OR OPERATE IN COMBINATION WITH ANY OTHER HARDWARE, SOFTWARE, SYSTEM, OR DATA, (B) MEET YOUR REQUIREMENTS OR EXPECTATIONS, (C) BE FREE FROM ERRORS OR THAT DEFECTS WILL BE CORRECTED, OR (D) BE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS. SALBOT ALSO MAKES NO REPRESENTATIONS OR WARRANTIES OF ANY KIND WITH RESPECT TO CONTENT; USER CONTENT IS PROVIDED BY AND IS SOLELY THE RESPONSIBILITY OF THE RESPECTIVE USER PROVIDING THAT CONTENT. NO ADVICE OR INFORMATION, WHETHER ORAL OR WRITTEN, OBTAINED FROM SALBOT OR THROUGH THE SERVICES, WILL CREATE ANY WARRANTY NOT EXPRESSLY MADE HEREIN. SALBOT DOES NOT WARRANT, ENDORSE, GUARANTEE, OR ASSUME RESPONSIBILITY FOR ANY USER CONTENT ON THE SERVICES OR ANY HYPERLINKED WEBSITE OR THIRD-PARTY SERVICE, AND SALBOT WILL NOT BE A PARTY TO OR IN ANY WAY BE RESPONSIBLE FOR TRANSACTIONS BETWEEN YOU AND THIRD PARTIES. IF APPLICABLE LAW DOES NOT ALLOW THE EXCLUSION OF SOME OR ALL OF THE ABOVE IMPLIED OR STATUTORY WARRANTIES TO APPLY TO YOU, THE ABOVE EXCLUSIONS WILL APPLY TO YOU TO THE FULLEST EXTENT PERMITTED BY APPLICABLE LAW.
        </div>
        <br>

        <h3>Contact</h3>
        <div>
            Email: <%= link_to "Lukas Köllner", "mailto:lkoe@bluewin.ch" %>
        </div>
        <br>
        <div>
            Terms based on <%= link_to "Monkeytype terms", "https://monkeytype.com/terms-of-service", target: "_blank" %>
        </div>
    </div>
</div>
