<div class="container mt-5">
    <h1>Salbot</h1>
    <hr>

    <h3>Einführung</h3>
    <div>
        Der Salbot schaut alle fünf Minuten auf dem Schulnetz nach, ob neue Noten eingetragen wurden. Wenn dies der Fall ist schickt der Bot an alle Empfänger eine Benachrichtigung über Whatsapp.
        <br>
        Neu wird die Nachricht an alle einzeln geschickt anstatt in den Klassenchat. Die Nummer von der die Nachrichten geschickt werden lautet: 079 402 02 52
    </div>
    <br>

    <h3>Allgemeine Geschäftsbedingungen</h3>
    <div>
        Mit dem Nutzen und Empfangen von Nachrichten des Salbot stimmen Sie unseren <%= link_to "allgemeinen Geschäftsbedingungen", salbot_agb_path %> zu. Wenn dies nicht der Fall ist kontaktieren Sie <%= link_to "Lukas Köllner", "mailto:lkoe@bluewin.ch" %> und Sie werden aus der Empfängerliste entfernt.
    </div>
    <br>

    <h3>Icons</h3>
    <ul>
        <li><a href="https://www.flaticon.com/free-icons/exam" title="exam icons">Exam icons created by Freepik - Flaticon</a></li>
    </ul>
</div>
