<div aria-live="polite" aria-atomic="true" class="position-relative rounded-3">
  <div class="toast-container p-3 top-0 end-0" id="toastPlacement">
    <div id="error-toast" class="toast bg-danger">
      <div class="toast-header">
        <strong id="error-toast-header" class="me-auto"></strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div id="error-toast-body" class="toast-body"></div>
    </div>
  </div>
</div>