<div aria-live="polite" aria-atomic="true" class="position-relative rounded-3">
  <div class="toast-container p-3 top-0 end-0">
    <div id="new-consumer-toast" class="toast bg-success" data-bs-autohide="false">
      <div class="toast-header">
        <strong class="me-auto">New Client!</strong>
        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">A new client has registered itself!</div>
    </div>
  </div>
</div>