:root {
    --salbot-bg-color: #333333;
    --salbot-title-color: #11b867;
    --salbot-text-color: white;
    --salbot-link-color: #a0a0a0;
}

@font-face {
    font-family: "salbot";
    src: font-url("Comfortaa-Regular.ttf");
}

#salbot-page {
    width: 100%;
    min-height: 100vh;

    background-color: var(--salbot-bg-color);
    color: var(--salbot-text-color);

    font-family: "salbot";
    font-size: 20px;

    h1 {
        color: var(--salbot-title-color);
    }
    h3 {
        color: var(--salbot-title-color);
        padding-bottom: 10px;
    }
    a {
        color: var(--salbot-link-color);
        transition: .125s;
    }
    a:hover {
        color: var(--salbot-text-color);
    }
}