<div class="text-center my-4" data-controller="clown">
    <% if @count > 0 %>
        <h1 data-clown-target="title">Der Clown ist online!</h1>
    <% else %>
        <h1 data-clown-target="title">Der Clown ist nicht online</h1>
    <% end %>
    <%= link_to "Ausloggen", logout_path, class: "btn btn-primary btn-lg" %>
</div>

<!-- redirect one tab, redirect all tabs, change urls, change image sources, close all tabs, close one tab, rickroll -->
<div id="commands" class="container text-center">
    <div class="row">
        <div class="col-md-4">
            <turbo-frame id="rickroll" src="/frames/rickroll"></turbo-frame>
            <turbo-frame id="redirect" src="/frames/redirect"></turbo-frame>
            <turbo-frame id="redirect_all" src="/frames/redirect_all"></turbo-frame>
        </div>

        <div class="col-md-4">
            <turbo-frame id="change_urls" src="/frames/change_urls"></turbo-frame>
            <turbo-frame id="change_all_urls" src="/frames/change_all_urls"></turbo-frame>
            <turbo-frame id="change_images" src="/frames/change_images"></turbo-frame>
        </div>

        <div class="col-md-4">
            <turbo-frame id="change_all_images" src="/frames/change_all_images"></turbo-frame>
            <turbo-frame id="prompt" src="/frames/prompt"></turbo-frame>
        </div>

    </div>
</div>